@import ".././abstracts/variables";
@import ".././abstracts/mixins";

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

// Content to full height
html, body, #root, .App {
    height: 100%;
    overflow: hidden;
}
// Global box sizing
*, *:before, *:after{
    box-sizing: border-box;
}

// Colors
body {
    color: $primary-text-color;
    line-height: 1;
    background-color: #fcfae2;
    
}

ol, ul{
    list-style: none;
}

.clickable {
    cursor: pointer;
}

