@import ".././abstracts/variables";
@import ".././abstracts/mixins";

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

// Content to full height
html, body, #root, .App {
    height: 100%;
    overflow: hidden;
}
// Global box sizing
*, *:before, *:after{
    box-sizing: border-box;
}

// Colors
body {
    color: $primary-text-color;
    line-height: 1;
    background-color: #fcfae2;
    
}

// Box shadows
.terminal, .projects, .guestbook {
    box-shadow: inset -1px -1px 0 0 #c2b9b1,inset 1px 1px 0 0 #fff,5px 5px 0 #0003;
}

ol, ul{
    list-style: none;
}

.clickable {
    cursor: pointer;
}

