@import ".././abstracts/variables";
@import ".././abstracts/mixins";
 
// Definy styles for body text 
body {
    font-family: Chicago;
    font-size: $primary-font-size;
    font-weight: $font-weight-light;
    color: $primary-text-color;
}

header {
    font-size: $secondary-font-size;
}

li {
    font-size: $secondary-font-size;
}

.terminal {
    font-weight: $font-weight-light;
    font-size: calc($secondary-font-size + 1px);
    @include breakpoint(phone) {
        font-size:small;
    }
    input {
        font-family: Chicago;
    }
}

.projects {
    font-size: $primary-font-size;
    font-family: WakeUpNeo;
    color: $retro-green-bright;
    text-align: center;
    @include breakpoint(phone) {
        font-size:$secondary-font-size;
    }
}

.tab-header {
    font-family: Chicago;
}

.guestbook {
    color: $primary-text-color;
    font-weight: $font-weight-light;
    .message-form {
        color: $primary-text-color;
        font-weight: $font-weight-light;
    }
}

.message {
    color: $primary-text-color;
    font-family: WakeUpNeo;
    font-size: $secondary-font-size;

    b {
        font-family: Chicago;
        font-size: $primary-font-size;
    }
}