// Colors
$primary-background-color: #0f0f0f;
$primary-text-color: #000000;
$header-background-color: #fdfacb;
$header-text-color: #292929;
$pale-white: #ffffff;
$worn-green: #00a800;

// font stacks
$primary-font-stack: 'Roboto', sans-serif;
$secondary-font-stack: 'Roboto Mono', monospace;

// Font sizes
$primary-font-size: 16px;
$secondary-font-size: 12px;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Spacing
$primary-spacing: 1rem;
$secondary-spacing: 0.5rem;

// Border
$primary-border: 1px solid #000000;
$secondary-border: 1px solid #292929;


