@import "../abstracts/variables";

.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;

    img {
        width: 2rem;
        height: 2rem;
    }

    span {
        font-size: $secondary-font-size;
        font-weight: $font-weight-regular;
    }
}
.shortcut:focus {
    span {
        background-color: black;
        color: white;
    }
}