@import "../abstracts/variables";
@import "../abstracts/mixins";

.tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $header-background-color;
    border: $primary-border;
    color: $header-text-color;
    position: sticky;
    top: 0;
    width: 100%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.tab-close {
    height: 11px;
    padding: 1px;
    border: 0.5px solid gray;
}