@import "../abstracts/variables";
@import "../abstracts/mixins";

// Round top borders
.terminal, .terminal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminal {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 40%;
    overflow-y: scroll;
    color: $pale-white;

    background-color: $primary-background-color;

    @include breakpoint(phone) {
        width: 98%;
        height: 50%;
        top: 20%;
        left: 1%;
    }

    // Little padding around the terminal
    .terminal-header {
        padding: 5px;
    }

    // Header
    .terminal-header {
        display: flex;
        justify-content: space-between;
        padding-right: 7px;
        align-items: center;
        background-color: $header-background-color;
        border: $primary-border;
        color: $header-text-color;
        position: sticky;
        top: 0;
        width: 100%;
    }

    // Dark background for everything except header
     .terminal-input, .terminal-input-content, .command-container, .terminal-introduction {
        background-color: $primary-background-color;
        color: $pale-white;
        padding: 4px;
    }


    .terminal-input {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .terminal-output {
        line-height: 1.2;
    }

    // Reset input field styles
    .terminal-input-content, .terminal-output {
        border: none;
        padding: 2px;
    }
    .terminal-input-content:focus {
        outline: none;
    }

    // Make prompt beginning nice green
    .green-section {
        color: $worn-green;

    }
    
    .terminal-close {
        height: 11px;
        padding: 1px;
        border: 0.5px solid gray;
    }
}