@import "../abstracts/variables";
@import "../abstracts/mixins";

// Round top borders
.terminal, .terminal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminal {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 40%;
    overflow-y: scroll;
    color: $pale-white;



    background-color: $primary-background-color;

    @include breakpoint(phone) {
        width: 100%;
        height: 50%;
        top: 20%;
        left: 1%;
    }

    // Little padding around the terminal
    .terminal-body, .terminal-header {
        padding: 5px;
    }

    // Header
    .terminal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header-background-color;
        border: $primary-border;
        color: $header-text-color;
        position: sticky;
        top: 0;
        width: 100%;
    }


    // Dark background for everything except header
    .terminal-body, .terminal-input, .terminal-input-content {
        background-color: $primary-background-color;
        color: $pale-white;
    }

    .terminal-input {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    // Reset input field styles
    .terminal-input-content {
        border: none;
        font-size: $primary-font-size;
    }
    .terminal-input-content:focus {
        outline: none;
    }

    // Make prompt beginning nice green
    .terminal-input-prompt, .terminal-input-clone {
        color: $worn-green;
    }

    .terminal-input {
        padding-bottom: 5px;
    }

    .terminal-input-prompt, .terminal-input-clone, .command-container {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.2;
    }
    
    .terminal-close {
        height: 11px;
        padding: 1px;
        border: 0.5px solid gray;
    }
}