@import "./Sass/abstracts/_variables";
@import "./Sass/base/_base";
@import "./Sass/base/_typography";
@import "./Sass/layout/_header";
@import "./Sass/layout/_icons";
@import "./Sass/components/_dropdown";
@import "./Sass/components/_shortcut";
@import "./Sass/components/_terminal";
@import "./Sass/layout/_projects";
@import "./Sass/components/_guestbook";
@import "./Sass/components/_tabheader";
@import "./Sass/components/_project";

@font-face {
    font-family: "Chicago";
    src: url(./fonts/chicago/ChicagoFLF.ttf) format("truetype") ;
    
}

@font-face {
    font-family: "WakeUpNeo" ;
    src: url(./fonts/white-rabbit/whitrabt.ttf) format("truetype") style("normal") stretch;
}